.App-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  min-width: 390px;
  margin-bottom: 20px;
}

.App-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.App-item > div {
  min-width: 100px;
  padding: 5px 15px;
}

.App-item:hover,
.App-item--active {
  background-color:#3d434f;
  cursor: pointer;
}

.App-total {
  margin-top: 20px;
}

select {
  margin-left: 8px;
}