.App-navbar {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 100px;
}

.App-li {
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 0;
  cursor: pointer;
}

.App-li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: .25s ease-in-out;
}

.App-li:hover:after {
  width: 100%;
}